{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    {% if processed_documents %}
        <h5 class="">Your Processed Files</h5>
            <ul class="list-group">
                {% for processed_document in processed_documents %}
                    <li class="list-group-item"><a href="{{ processed_document.path_to_processed_file }}">{{ processed_document.display_name }}</a></li>
                {% endfor %}
            </ul>

    {% else %}
        <h5 class="">Your Processed Files</h5>

    {% endif %}

{% endblock %}

